<li>
    <p>
        <!-- && locals.user.id == comment.user.id -->
        <% if(locals.user) { %>
            <small>
                <a href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
        <% } %>
        
        <small>
            <%= comment.user.name %>
        </small>
        <br>
        <%= comment.content %>
    </p>
</li>