<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div class="footer-container">
        <p>
            Copyright ©<script>document.write(new Date().getFullYear());</script> Codeial </p>
        </p>
    </div>
</footer>