<link rel="stylesheet" href="/css/user_sign_default.css">

<div class="user-sign-container">
    <div class="container">
        <h2> Forget Password </h2>
        <p>We will send you an email to reset your password</p>
        <div class="inner-container">                 
            <form action="/users/reset-password" method="POST">
              <div class="form-container">
                <input type="email" name="email" class="input-text" placeholder="Your Email" required>
                <input type="submit" value="Reset Password" class="submit-btn">
              </div> 
            </form>
            
            <hr>
            
            <div class="sign-container">
                <p>
                    Not a member?               
                    <a href="/users/sign-up">Sign Up</a>
                </p>
            </div>

        </div>
    </div>
</div>

