<link rel="stylesheet" href="/css/user_sign_default.css">

<div class="user-sign-container">
    <div class="container">
        <h2> Reset Account Password </h2>
        <p>Enter a new password</p>

        <div class="inner-container">
            <form action="/users/reset-password/<%= token %>" method="POST">
              <div class="form-container">
                  <input type="password" name="password" class="input-text" placeholder="Password" required>
                  <input type="password" name="confirm_password" class="input-text" placeholder="Confirm Password" required>
                  <input type="submit" value="Reset Password" class="submit-btn">
              </div>
            </form>

            <hr>

        </div>
    </div>
</div>