<link rel="stylesheet" href="/css/user_sign_default.css">

<div class="user-sign-container">
    <div class="container">
        <h2> Sign Up </h2>
        <div class="inner-container">
            <form action="/users/create" method="post">
                <div class="form-container">
                    <input type="text" name="name" class="input-text" placeholder="Your Name" required>
                    <input type="email" name="email" class="input-text" placeholder="Your Email" required>
                    <input type="password" name="password" class="input-text" placeholder="Password" required>
                    <input type="password" name="confirm_password" class="input-text" placeholder="Confirm Password" required>
                    <input type="submit" value="Sign Up" class="submit-btn">
                </div>
            </form>
            <hr>
            <div class="sign-container">
                <p>
                    Already have an account?
                    <a href="/users/sign-in">Sign In</a>
                </p>
            </div>

            <p>
                <a href="/users/auth/google">Continue with Google</a>
            </p>
            
        </div>
    </div>
</div>