@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

$primary-color : #1876f2;
$background-color: #efefef;
$hover-color: #e7f3ff;
$primary-text : #4E4E4C;
$secondary-text: #75767a;
$text2: #dedede;
$blue-dark: #29487d;
$green-color: #42b72a;
$green-color2: #36a420;
$green-color3: #2b9217;
$shadow-1: rgba(0, 0, 0, 0.2);

$primary-box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
