@import "_var.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

/*
H0: 40 pt (45–38pt)
H1: 32 pt (30–34pt)
H2: 26 pt (24–28pt)
H3: 22 pt (20–24pt)
H4: 20 pt (18–22pt)
*/

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
}

h3 {
    font-size: 1.17rem;
}

h5 {
    font-size: .83rem;
}

h6 {
    font-size: .75rem;
}

input, a, p, td{
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: $background-color;

    #layout-main {
        height: 100vh;
        padding-top: 60px;
    }
}