@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.input-btn {
  outline: 0;
  margin-bottom: 20px;
  border: 1px solid #dedede;
  padding: 10px 16px;
  border-radius: 6px;
}
.input-btn:focus {
  border-color: #1876f2;
  box-shadow: 0 0 0 2px #e7f3ff;
  caret-color: #1876f2;
}

.submit-btn {
  outline: 0;
  padding: 10px 16px;
  border-radius: 6px;
  background-color: #1876f2;
  border: none;
  color: white;
}
.submit-btn:focus {
  background-color: #29487d;
}

.anchor-btn {
  padding: 10px 16px;
  border-radius: 6px;
  background-color: #1876f2;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.user-sign-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 90vh;
}
.user-sign-container .container {
  width: 85%;
  max-width: 400px;
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.user-sign-container .container .inner-container {
  padding-top: 30px;
}
.user-sign-container .container .inner-container .form-container {
  display: flex;
  flex-direction: column;
}
.user-sign-container .container .inner-container hr {
  border: 0;
  height: 1px;
  background: #dadde1;
  margin: 20px 0px;
}
.user-sign-container .container .inner-container .sign-container p a {
  color: black;
}
.user-sign-container .container .inner-container .sign-container p a:hover {
  color: #1876f2;
}
.user-sign-container .container .inner-container .sign-container p a:active {
  color: #29487d;
}